/* exfoliation: a nagios makeover                                          */
/* Copyright 2010 Matthew Wall, all rights reserved                        */
/*                                                                         */
/* Permission to use, copy, modify, and distribute this software for any   */
/* purpose with or without fee is hereby granted, provided that the above  */
/* copyright notice and this permission notice appear in all copies.       */

.extinfo { }

.perfTypeTitle { font-size: 12pt; text-align: right; font-weight: bold; }

.stateInfoPanel { font-size: 11pt; }
.stateStatisticsPanel { }
.stateInfoTable1 { background-color: #f8f8f8; border: 1px solid #d0d0d0; }
.stateInfoTable2 { background-color: #f8f8f8; border: 1px solid #d0d0d0; }

.dataVar { font-size: 11pt; font-weight: bold; }
.dataVal { font-size: 11pt; }

/* FIXME: override the defaults until php/html is fixed */
/* .data      { font-size: 12pt; font-weight: bold; } */
div.data   { font-size: 12pt; font-weight: normal; }
.dataTitle { font-size: 14pt; padding-bottom: 5px; }

.commandTitle { font-size: 12pt; text-align: center; padding-bottom: 5px; }
table.command { background-color: #f8f8f8; border: 1px solid #d0d0d0; }
.command      { font-size: 11pt; }
.commandPanel { }
.commentPanel { }

table.commandPanel { border:1px #E2DECD outset; }
table.commandPanel td,td.statusOdd { background-color: #f8f8f8; }
table.commandPanel td { padding-left: 10px; padding-right: 10px; }
table.commandPanel th { background-image:none; border:0 none; vertical-align:top; }

.commandNote { color: red; }

table.perfdata_human              { border: 1px solid #d0d0d0; }
table.perfdata_human .statusOdd   { font-size: 11pt; background-color: #e7e7e7; }
table.perfdata_human .statusEven  { font-size: 11pt; background-color: #f8f8f8; }

.commentTitle  { font-size: 12pt; text-align: center; font-weight: bold; }
div.commentNav { font-size: 12pt; text-align: center; }
a.commentNav   { font-size: 12pt; }

table.comment { font-size: 12pt; text-align: center; padding: 2px; max-width: 900px; }
th.comment    { font-size: 11pt; padding: 0 3px 0 3px; background-color: #f0f1ee; border: 1px #e2decd outset; color: #333333; white-space: nowrap; }
.commentOdd   { font-size: 11pt; background-color: #e7e7e7; }
.commentEven  { font-size: 11pt; background-color: #f8f8f8; }
div.comment,a.comment { font-size: 12pt; background-color: white; text-align: center; }

.downtimeTitle  { font-size: 14pt; text-align: center; font-weight: bold; }
div.downtimeNav { font-size: 12pt; text-align: center; }
a.downtimeNav   { font-size: 12pt; }

table.downtime { font-size: 12pt; text-align: center; background-color: white; padding: 2px; max-width: 900px; }
th.downtime    { font-size: 11pt; center; padding: 0 3px 0 3px; background-color: #f0f1ee; border: 1px #e2decd outset; color: #333333; white-space: nowrap; }
.downtimeOdd   { font-size: 11pt; background-color: #e7e7e7; }
.downtimeEven  { font-size: 11pt; background-color: #f8f8f8; }

.notflapping           { color: #fff; background-color: #00CC33; border: 1px solid #777777; font-weight: bold; float: left; }
.flapping              { color: #fff; background-color: #ff3300; border: 1px solid #777777; font-weight: bold; float: left; }
.notificationsENABLED  { color: #fff; background-color: #00CC33; border: 1px solid #777777; font-weight: bold; width: 74px; }
.notificationsDISABLED { color: #fff; background-color: #ff3300; border: 1px solid #777777; font-weight: bold; width: 74px; }
.checksENABLED         { color: #fff; background-color: #00CC33; border: 1px solid #777777; font-weight: bold; width: 74px; }
.checksDISABLED        { color: #fff; background-color: #ff3300; border: 1px solid #777777; font-weight: bold; width: 74px; }
.eventhandlersENABLED  { color: #fff; background-color: #00CC33; border: 1px solid #777777; font-weight: bold; width: 74px; float: left; }
.eventhandlersDISABLED { color: #fff; background-color: #ff3300; border: 1px solid #777777; font-weight: bold; width: 74px; float: left; }
.flapdetectionENABLED  { color: #fff; background-color: #00CC33; border: 1px solid #777777; font-weight: bold; width: 74px; }
.flapdetectionDISABLED { color: #fff; background-color: #ff3300; border: 1px solid #777777; font-weight: bold; width: 74px; }
.downtimeACTIVE        { color: #fff; background-color: #ff3300; border: 1px solid #777777; font-weight: bold; float: left; }
.downtimeINACTIVE      { color: #fff; background-color: #00CC33; border: 1px solid #777777; font-weight: bold; float: left; }
.processOK             { color: #fff; background-color: #00CC33; border: 1px solid #777777; font-weight: bold; }
.processUNKNOWN        { color: #fff; background-color: #6ec2fd; border: 1px solid #777777; font-weight: bold; }
.processWARNING        { color: #fff; background-color: #ffa500; border: 1px solid #777777; font-weight: bold; }
.processCRITICAL       { color: #fff; background-color: #ff3300; border: 1px solid #777777; font-weight: bold; }
.modeACTIVE            { color: #fff; background-color: #00CC33; border: 1px solid #777777; font-weight: bold; }
.modeSTANDBY           { color: #fff; background-color: #ffa500; border: 1px solid #777777; font-weight: bold; }

.eventhandlersCOMMAND  { position: absolute; margin-left: 90px; }

.hostUP           { color: #fff; background-color: #00CC33; border: 1px solid #777777; font-weight: bold; float: left; }
.hostDOWN         { color: #fff; background-color: #ff3300; border: 1px solid #777777; font-weight: bold; float: left; }
.hostUNREACHABLE  { color: #fff; background-color: #ff3300; border: 1px solid #777777; font-weight: bold; float: left; }

.serviceOK        { color: #fff; background-color: #00CC33; border: 1px solid #777777; font-weight: bold; float: left; }
.serviceWARNING   { color: #fff; background-color: #ffa500; border: 1px solid #777777; font-weight: bold; float: left; }
.serviceUNKNOWN   { color: #fff; background-color: #6ec2fd; border: 1px solid #777777; font-weight: bold; float: left; }
.serviceCRITICAL  { color: #fff; background-color: #ff3300; border: 1px solid #777777; font-weight: bold; float: left; }

.queueTitle    { font-size: 14pt; text-align: center; font-weight: bold; }
table.queue    { font-size: 11pt; padding: 0; }
th.queue       { font-size: 11pt; text-align: center; padding: 0 3px 0 3px; background-color: #f0f1ee; border: 1px #e2decd outset; color: #333333; }
.queueOdd      { font-size: 11pt; background-color: #e7e7e7; padding: 0 4px 0 4px; }
.queueEven     { font-size: 11pt; background-color: #f8f8f8; padding: 0 4px 0 4px; }
.queueENABLED  { font-size: 11pt; color: #fff; background-color: #00CC33; border: 1px solid #777777; padding: 0 4px 0 4px; }
.queueDISABLED { font-size: 11pt; color: #fff; background-color: #ff3300; border: 1px solid #777777; padding: 0 4px 0 4px; }

table.blockHeadBorder, div.blockHeadBorder {
  background-color: #f0f1ee;
  border: 1px #b2a0a0 outset;
  text-align:center;
  line-height: 18px;
  white-space: nowrap;
}
