/* exfoliation: a nagios makeover                                          */
/* Copyright 2010 Matthew Wall, all rights reserved                        */
/*                                                                         */
/* Permission to use, copy, modify, and distribute this software for any   */
/* purpose with or without fee is hereby granted, provided that the above  */
/* copyright notice and this permission notice appear in all copies.       */

.outages { }

.itemTotalsTitle { font-size: 10pt; text-align: center; }

.hostUP          { color: #fff; background-color: #00CC33; font-weight: bold; }
.hostDOWN        { color: #fff; background-color: #ff3300; font-weight: bold; }
.hostUNREACHABLE { color: #fff; background-color: #5bc0de; font-weight: bold; }
