/* exfoliation: a nagios makeover                                          */
/* Copyright 2010 Matthew Wall, all rights reserved                        */
/*                                                                         */
/* Permission to use, copy, modify, and distribute this software for any   */
/* purpose with or without fee is hereby granted, provided that the above  */
/* copyright notice and this permission notice appear in all copies.       */

.summary { }

/* override to match filter table style */
.optBoxItem         { font-size: 10pt; font-weight: bold; }
.optBoxValue        { font-size: 10pt; }

/* override to match query info style */
.dataSubTitle { font-size: 10pt; text-align: center; font-weight: normal; }

/* override so we get a bit of whitespace */
table.data { padding-top: 15px; }

.reportDataOdd  { font-size: 11pt; background-color: #e7e7e7; padding: 0 4px 0 4px; }
.reportDataEven { font-size: 11pt; background-color: #f4f2f2; padding: 0 4px 0 4px; }

.hostUP          { font-size: 11pt; color: #fff; background-color: #00CC33; border: 1px solid #777777; padding: 0 4px 0 4px; }
.hostDOWN        { font-size: 11pt; color: #fff; background-color: #ff3300; border: 1px solid #777777; padding: 0 4px 0 4px; }
.hostUNREACHABLE { font-size: 11pt; color: #fff; background-color: #6ec2fd; border: 1px solid #777777; padding: 0 4px 0 4px; }

.serviceOK       { font-size: 11pt; color: #fff; background-color: #00CC33; border: 1px solid #777777; padding: 0 4px 0 4px; }
.serviceWARNING  { font-size: 11pt; background-color: #ffff00; border: 1px solid #777777; padding: 0 4px 0 4px; }
.serviceUNKNOWN  { font-size: 11pt; color: #fff; background-color: #6ec2fd; border: 1px solid #777777; padding: 0 4px 0 4px; }
.serviceCRITICAL { font-size: 11pt; color: #fff; background-color: #ff3300; border: 1px solid #777777; padding: 0 4px 0 4px; }
