/* exfoliation: a nagios makeover                                          */
/* Copyright 2010 Matthew Wall, all rights reserved                        */
/*                                                                         */
/* Permission to use, copy, modify, and distribute this software for any   */
/* purpose with or without fee is hereby granted, provided that the above  */
/* copyright notice and this permission notice appear in all copies.       */

.tac { font-size: 12pt; }

.title     { font-weight: bold; }
.titleItem { font-size: 10pt; font-weight: bold; }

td.perfTitle { font-size: 12pt; font-weight: bold; background-color: #d0d0d0; border: 1px solid #aaaaaa; }
.perfBox     { background-color: #eeeeee; border: 1px solid #cccccc; }
.perfItem    { font-size: 10pt; font-weight: bold; }
.perfValue   { font-size: 10pt; }

.healthTitle { font-weight: bold; font-size: 12pt; background-color: #d0d0d0; border: 1px solid #aaaaaa; }
.healthBox   { }
.healthItem  { font-size: 12pt; font-weight: bold; }
.healthBar   { background-color: grey; padding: 2px 4px 2px 4px; }

.outageTitle     { font-weight: bold; background-color: #d0d0d0; border: 1px solid #aaaaaa; }
td.outageHeader  { font-weight: bold; text-align: center; padding: 0 3px 0 3px; background-color: #f0f1ee; border: 1px #e2decd outset; }

.hostTitle       { font-weight: bold; background-color: #d0d0d0; border: 1px solid #aaaaaa; }
td.hostHeader    { font-weight: bold; text-align: center; padding: 0 3px 0 3px; background-color: #f0f1ee; border: 1px #e2decd outset; }

.serviceTitle    { font-weight: bold; background-color: #d0d0d0; border: 1px solid #aaaaaa; }
td.serviceHeader { font-weight: bold; text-align: center; padding: 0 3px 0 3px; background-color: #f0f1ee; border: 1px #e2decd outset; }

.featureTitle    { font-weight: bold; background-color: #d0d0d0; border: 1px solid #aaaaaa; }
td.featureHeader { font-weight: bold; text-align: center; padding: 0 3px 0 3px; background-color: #f0f1ee; border: 1px #e2decd outset; }

.featureEnabled  { text-align: center; background-color: #ccffcc; }
.featureDisabled { text-align: center; background-color: #ffcccc; }

.featureEnabledFlapDetection             { text-align: center; font-weight: bold; }
.featureDisabledFlapDetection            { text-align: center; font-weight: bold; }
.featureItemEnabledServiceFlapDetection  { font-size: 10pt; color: #fff; background-color: #00CC33; border: 1px solid #777777; }
.featureItemDisabledServiceFlapDetection { font-size: 10pt; color: #fff; background-color: #ff3300; border: 1px solid #777777; }
.featureItemEnabledHostFlapDetection     { font-size: 10pt; color: #fff; background-color: #00CC33; border: 1px solid #777777; }
.featureItemDisabledHostFlapDetection    { font-size: 10pt; color: #fff; background-color: #ff3300; border: 1px solid #777777; }
.featureItemServicesNotFlapping          { font-size: 10pt; color: #fff; background-color: #00CC33; border: 1px solid #777777; }
.featureItemServicesFlapping             { font-size: 10pt; color: #fff; background-color: #ff3300; border: 1px solid #777777; }
.featureItemHostsNotFlapping             { font-size: 10pt; color: #fff; background-color: #00CC33; border: 1px solid #777777; }
.featureItemHostsFlapping                { font-size: 10pt; color: #fff; background-color: #ff3300; border: 1px solid #777777; }

.featureEnabledNotifications             { text-align: center; font-weight: bold; }
.featureDisabledNotifications            { text-align: center; font-weight: bold; }
.featureItemEnabledServiceNotifications  { font-size: 10pt; color: #fff; background-color: #00CC33; border: 1px solid #777777; }
.featureItemDisabledServiceNotifications { font-size: 10pt; color: #fff; background-color: #ff3300; border: 1px solid #777777; }
.featureItemEnabledHostNotifications     { font-size: 10pt; color: #fff; background-color: #00CC33; border: 1px solid #777777; }
.featureItemDisabledHostNotifications    { font-size: 10pt; color: #fff; background-color: #ff3300; border: 1px solid #777777; }

.featureEnabledHandlers                  { text-align: center; font-weight: bold; }
.featureDisabledHandlers                 { text-align: center; font-weight: bold; }
.featureItemEnabledServiceHandlers       { font-size: 10pt; color: #fff; background-color: #00CC33; border: 1px solid #777777; }
.featureItemDisabledServiceHandlers      { font-size: 10pt; color: #fff; background-color: #ff3300; border: 1px solid #777777; }
.featureItemEnabledHostHandlers          { font-size: 10pt; color: #fff; background-color: #00CC33; border: 1px solid #777777; }
.featureItemDisabledHostHandlers         { font-size: 10pt; color: #fff; background-color: #ff3300; }

.featureEnabledActiveChecks              { text-align: center; font-weight: bold; }
.featureDisabledActiveChecks             { text-align: center; font-weight: bold; }
.featureItemEnabledActiveServiceChecks   { font-size: 10pt; color: #fff; background-color: #00CC33; border: 1px solid #777777; }
.featureItemDisabledActiveServiceChecks  { font-size: 10pt; color: #fff; background-color: #ff3300; border: 1px solid #777777; }
.featureItemEnabledActiveHostChecks      { font-size: 10pt; color: #fff; background-color: #00CC33; border: 1px solid #777777; }
.featureItemDisabledActiveHostChecks     { font-size: 10pt; color: #fff; background-color: #ff3300; border: 1px solid #777777; }

.featureEnabledPassiveChecks             { text-align: center; font-weight: bold; }
.featureDisabledPassiveChecks            { text-align: center; font-weight: bold; }
.featureItemEnabledPassiveServiceChecks  { font-size: 10pt; color: #fff; background-color: #00CC33; border: 1px solid #777777; }
.featureItemDisabledPassiveServiceChecks { font-size: 10pt; color: #fff; background-color: #ff3300; border: 1px solid #777777; }
.featureItemEnabledPassiveHostChecks     { font-size: 10pt; color: #fff; background-color: #00CC33; border: 1px solid #777777; }
.featureItemDisabledPassiveHostChecks    { font-size: 10pt; color: #fff; background-color: #ff3300; border: 1px solid #777777; }
